@import "compass/reset";
@import "compass";
@import "mixins";
@import "webfonts";

// Variables
$font_text: 'college_slabbold';

// Layout
html,body {
	background-color: #000000;
	
	height: 100%;
	font-size: 0.652em;
}

#noConnection{
	display: none;
}

#container{
	display: none;
}

body.disconnected #noConnection{
	height: 100%;
	background-color: #333;
	display: block;
	color: #fff;
	font-size: 7em;
	text-align: center;
	padding-top: 20px;
	font-family: monospace;
}

body.connected {

	background-image: url('../images/starryBackgroundBlur.png');

	#container {
		display: block;
		width: 100%;
		height: 100%;
		background-image: url('../images/starryBackground.png');
		background-position-x: 40px;
		background-position-y: 20px;

		#timer {
			display: block;
			color: #fff;
			position: fixed;
			top: 25%;
			left: 50%;

			p {
				display: block;
				position: relative;
				left: -50%;
				font-size: 35em;
				font-family: $font_text;
				text-align: center;
				opacity: 0.15;
				user-selec: none;
				-webkit-user-select: none;        
				-moz-user-select: none;
				-ms-user-select: none;
				cursor: default;
			}
		}

		#score{
			position: absolute;
			top: 10px;
			left: 10px;
			font-size: 3em;
			color: #bbb;
			font-family: monospace;
			text-transform: uppercase;

			#scoreValue{
				color: #eeeeee;
				font-size: 2em;
			}
		}

		#cnvs {
			display: block;
			margin: 0 auto 0 auto;
			border: 2px solid #fff;
			box-sizing: border-box;
			-moz-box-sizing : border-box;
		}
	}
}