@import "compass/reset";
@import "compass";
@import "mixins";
@import "webfonts";

// Variables
$font_text: 'college_slabbold';

// Layout
html,body {
	background-color: #000000;
	background-image: url('../images/starryBackgroundBlur.png');
	height: 100%;
	font-size: 0.652em;
}

#container {
	width: 100%;
	height: 100%;

	background-image: url('../images/starryBackground.png');
	background-position-x: 40px;
	background-position-y: 20px;

	#timer {
		color: #fff;
		position: fixed;
		top: 25%;
		left: 50%;

		p {
			display: block;
			position: relative;
			left: -50%;
			font-size: 35em;
			font-family: $font_text;
			text-align: center;
			opacity: 0.15;
			user-selec: none;
			-webkit-user-select: none;        
			-moz-user-select: none;
			-ms-user-select: none;
			cursor: default;
		}
	}

	#cnvs {
		display: block;
		margin: 0 auto 0 auto;
		border: 2px solid #fff;
		box-sizing: border-box;
		-moz-box-sizing : border-box;
	}
}